{% extends 'HegesAppMainBundle:Default:hegesappbase.html.twig' %}
{% block hegesappbody %}
<p><h1 class="tabla_datos">Servidores de Monitorización</h1></p>
<p>BUSCAR <input type="text" name="q" value=""> <span id="count"></span></p>
<p id="none" style="display:none">No hay coincidencias para tu busqueda!</p>
<form action="{{ path('server_new') }}"><button type="submit">CREAR SERVIDOR</button></form>
<ul class="tabla_datos">
    <li class="tabla_datos"><table class="tabla_datos"><tr>
        <th width="150" class="tabla_datos">Nombre Nodo</th>
        <th width="150" class="tabla_datos">Descripcion</th>
        <th width="150" class="tabla_datos">Direccion IP</th>
        <th width="150" class="tabla_datos">Sistema Operativo</th>
        <td width="350" class="tabla_datos_sin_borde"></td>
    </tr></table></li>
</ul>
<ul id="names" class="tabla_datos">
    {% for entity in entities %}
    <li class="tabla_datos"><table class="tabla_datos"><tr>
        <td width="150" class="tabla_datos">{{ entity.name }}</td>
        <td width="150" class="tabla_datos">{{ entity.description }}</td>
        <td width="150" class="tabla_datos">{{ entity.ip }}</td>
        <td width="150" class="tabla_datos">{{ entity.fkos.name }}</td>
        <td width="150" class="tabla_datos_sin_borde"><form action="{{ path('server_show', { 'id': entity.id }) }}"><button type="submit">MOSTRAR</button></form></td>
        <td width="200" class="tabla_datos_sin_borde"><form action="{{ path('server_edit', { 'id': entity.id }) }}"><button type="submit">EDITAR/BORRAR</button></form></td>
    </tr></table></li>
    {# <li>{{ entity.name }} #}
    {% endfor %}
</ul>
<form><input type="button" value="ATRAS" onClick="history.back();"></form>
{% endblock hegesappbody %}
