<p><h1 class="tabla_datos">LINEA DE CONFIGURACION</h1></p>
<table><tr><th class="tabla_datos">Id</th>
        <td class="tabla_datos">{{ entity.id }}</td>
        <td class="tabla_datos_sin_borde"> </td></tr>
    <!-- <tr><td class="tabla_datos_sin_borde"><form action="{{ path('configline') }}"><button type="submit">ATRAS</button></form></td> -->
    <tr><td class="tabla_datos_sin_borde"><form><input type="button" value="ATRAS" onClick="history.back();"></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('configline_edit', { 'id': entity.id }) }}"><button type="submit">EDITAR</button></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('configline_copy', { 'id': entity.id }) }}"><button type="submit">COPIAR</button></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('configline_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">BORRAR</button></form></td>
</tr></table>
