{% extends 'HegesAppMainBundle:Default:hegesappbase.html.twig' %}
{% block hegesappbody %}
<p><h1 class="tabla_datos">NODO: {{ entity.name }}</h1></p>
<table>
    <tr><th class="tabla_datos">ID</th>
        <th class="tabla_datos">Nombre</th>
        <th class="tabla_datos">Descripcion</th>
        <th class="tabla_datos">Dirección IP</th>
        <th class="tabla_datos">Sistema Operativo</th>
        <th class="tabla_datos">Tipo de Nodo</th>
        <th class="tabla_datos">Estado</th>
    </tr>
    <tr><td class="tabla_datos">{{ entity.id }}</td>
        <td class="tabla_datos">{{ entity.name }}</td>
        <td class="tabla_datos">{{ entity.description }}</td>
        <td class="tabla_datos">{{ entity.ip }}</td>
        <td class="tabla_datos">{{ entity.fkOs }}</td>
        <td class="tabla_datos">{{ entity.fkNodetype }}</td>
        <td class="tabla_datos">{{ entity.ovostatus }}</td>
    </tr>
    <!-- <tr><td class="tabla_datos_sin_borde"><form action="{{ path('node') }}"><button type="submit">ATRAS</button></form></td> -->
    <tr><td class="tabla_datos_sin_borde"><form><input type="button" value="ATRAS" onClick="history.back();"></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('node_edit', { 'id': entity.id }) }}"><button type="submit">EDITAR</button></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('node_delete', { 'id': entity.id }) }}" method="post">{{ form_widget(delete_form) }}<button type="submit">BORRAR</button></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('node_copy', { 'id': entity.id }) }}" method="post"><button type="submit">COPIAR</button></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('alarm_ovonodeact', { 'nodename': entity.name }) }}" method="post"><button type="submit">ALARMAS ACTIVAS</button></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('alarm_ovonodehist', { 'nodename': entity.name }) }}" method="post"><button type="submit">ALARMAS HISTÓRICAS</button></form></td>
        <td class="tabla_datos_sin_borde"><form action="{{ path('configfile_nodeselect', { 'nodeid': entity.id },{'nodename': entity.name}) }}"><button type="submit">CONFIGURACIONES</button></form></td>
		
    </tr>
</table>
{# <ul><li><a href="{{ path('node') }}">Back to the list</a></li> #}
    {# <li><a href="{{ path('node_edit', { 'id': entity.id }) }}">EDITAR</a></li> #}
    {# <li><form action="{{ path('node_delete', { 'id': entity.id }) }}" method="post"> #}
       {# {{ form_widget(delete_form) }} #}
       {# <button type="submit">BORRAR</button> #}
       {# </form></li> #}
{# </ul> #}
{# <a href="{{ graph_path }}">Rendimiento</a> #}
{# <img src="{{ graph_path }}" alt="Rendimiento"> #}
{% endblock hegesappbody %}

