{% extends 'HegesAppMainBundle:Default:hegesappbase.html.twig' %}
{% block hegesappbody %}
<p><h1 class="tabla_datos">Modificar un campo de un fichero de configuración</h1></p>
<form id="form_datos" action="{{ path('configfield_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}</form>
<table><tr><td class="tabla_datos_sin_borde"><button form="form_datos" type="submit">GUARDAR</button></td>
            <!-- <td class="tabla_datos_sin_borde"><form action="{{ path('configfield') }}"><button type="submit">ATRAS</button></form></td> -->
            <td class="tabla_datos_sin_borde"><form><input type="button" value="ATRAS" onClick="history.back();"></form></td>
            <td class="tabla_datos_sin_borde"><form action="{{ path('configfield_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit"  onclick="return(confirm('No hay marcha atrás y este cambio afectará a todos los ficheros de configuración con esta línea, estás seguro de que quieres borrar un campo de este tipo de línea de configuración?'))">BORRAR</button></form></td>
</tr></table>
{% endblock hegesappbody %}
